body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #D3D5DB;
  display: flex;
  justify-content: center;
}

.container {
  text-align: center;
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: center;
  padding: 10px;
  width: 100%;
  max-width: 900px;
  margin: 40px auto;
}

.dogGallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black 1px;
  background-color: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 10px;
}

.dogs {
  width: 100%;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
}

.dogGallery:hover img {
  transform: scale(1.1);
}

.dogGallery:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
  }
}

@media (max-width: 480px) {
  .gallery {
    grid-template-columns: 1fr;
    width: 90%;
  }
}
